@font-face { font-family: GameThrones; src: url('GameThrones.ttf'); }

body {
	background: url('../backgrounds/texturetastic_gray/texturetastic_gray.png') repeat;
	color: #333;
	font-family: Merriweather, serif;
}

h1 {
	font-family: GameThrones;
	font-size: 2.5em;
	font-weight: normal;
}

img {
	padding: 2px;
	border: 1px solid #888;
}

/* #content {
	display: none;
} */

.is-centered {
	text-align: center;
}

.title {
	margin-top: 1.5em;
}

@media only screen and (min-width: 40em) {
	h1 {
		font-size: 3.5em;
	}
}