@font-face { font-family: GameThrones; src: url('GameThrones.ttf'); }

body {
	background: url('../backgrounds/texturetastic_gray/texturetastic_gray.png') repeat;
	color: #333;
	font-family: Merriweather, serif;
}

h1 {
	font-family: GameThrones;
	font-size: 2.5em;
	font-weight: normal;
}

li {
	cursor: pointer;
	img {
		padding: 2px;
		border: 1px solid #888;
	}
}

#main-title {
	margin-bottom: 0em;
}

#content, .answer {
	display: none;
}

#q03 li p, #q08 li p {
	margin-bottom: 0;
}

#q04 {
	margin: 1.5em 0 0 1.5em;
}

.is-centered {
	text-align: center;
}

.title {
	margin-top: 1.5em;
}

.caption {
	position: absolute;
	left: 0;
	right: 0;
}

.flourish {
	display: block;
	margin: 0 auto;
}

.answer img {
	margin: 0 auto;
}

@media only screen and (min-width: 40em) {
	h1 {
		font-size: 3.5em;
	}
}