@font-face { font-family: GameThrones; src: url('GameThrones.ttf'); }

body {
	background: url('../backgrounds/texturetastic_gray/texturetastic_gray.png') repeat;
	color: #333;
	font-family: Merriweather, serif;
}

h1 {
	font-family: GameThrones;
	font-size: 3.5em;
	font-weight: normal;
}

img {
	padding: 2px;
	border: 1px solid #888;
}

.is-centered {
	text-align: center;
}